.about-page {
    display: flex;
    background-color: white;
    position: relative;
    /* 필요한 경우 */
}

.sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar div {
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.sidebar .side1.active {
    color: #fc926b;
}

.sidebar .side2 {
    color: #8bc34a;
}

.sidebar .side3 {
    color: #8bc34a;
}

.about-section {
    margin-left: 220px;
    /* sidebar의 너비를 고려한 왼쪽 여백 */
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 5%;
    padding: 20px;
    background-color: lightyellow;
    flex-grow: 1;
}

.about-section h2 {
    color: #F8B46E;
}

.about-section h2,
.about-section p,
.about-section ol {
    margin: 10px 0;
    text-align: left;
}

.about-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-section li {
    margin-bottom: 10px;
}

.blank {
    margin: 30vh;
}



/* 미디어 쿼리 */
@media (max-width: 768px) {
    .about-page {
        flex-direction: column;
    }

    .sidebar {
        width: 60%;
        position: relative;
        /* 모바일에서 사이드바의 위치를 상대적으로 변경 */
        height: auto;
        /* 모바일에서는 높이를 자동으로 조정 */
    }

    .about-section {
        margin-left: 0;
        /* 사이드바가 위로 이동하므로 왼쪽 여백 제거 */
        width: 100%;
    }
}