.home {
    position: relative;
    overflow: hidden;
    text-align: center;
    /* 중앙 정렬 추가 */
}

.main-banner {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.home h1 {
    margin-top: 20px;
    color: #333;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 가로 5개 */
    grid-template-rows: repeat(2, auto);
    /* 세로 2개 */
    gap: 10px;
    /* 이미지 간의 간격 */
    background-color: lightyellow;
    /* 배경색 */
    padding: 20px;
    /* 여백 추가 */
    margin-top: 20px;
    /* 상단 여백 추가 */
}

.grid-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ccc;
    /* 이미지 경계선 */
    border-radius: 5px;
    /* 모서리 둥글게 */
}