.my-sidebar {
  width: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1000;
}

.my-sidebar-content {
  /* 내 지도 */

  width: 182px;
  height: 45px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */
  text-align: center;

  color: #a9c398;
  /* color: #f8b46e; */

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.my-container {
  border: #000000 1px solid;
  /* sidebar의 너비를 고려한 왼쪽 여백 */
  margin-right: 4%;
  margin-bottom: 5%;
  margin-left: 220px;
  padding: 20px;
  flex-grow: 1;
}

.my-map-container {
  border: #000000 1px solid;
  /* sidebar의 너비를 고려한 왼쪽 여백 */
  margin-bottom: 5%;
  padding: 20px;
  flex-grow: 1;
  overflow: hidden;
}

.my-map-container:nth-child(3),
.my-map-container:nth-child(4) {
  display: flex;
  flex-direction: column; /* 자식 요소들을 세로로 배치 */
  align-items: center; /* 자식 요소들을 가운데 정렬 (선택 사항) */
}

.my-map-header-wrap {
  display: flex;
}

.my-map-icon {
  display: flex;
}

.my-map-header {
  width: 105.89px;
  height: 33.04px;
  left: 400.9px;
  top: 222px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.331px;
  line-height: 25px;
  display: flex;
  align-items: center;

  color: #000000;

  margin: 0 0 0 5px;
}

.my-map-section {
  width: 70%;
  height: 501.95px;

  margin-top: 2%;
  margin-left: 15%;
  border: #000000 1px solid;

  position: relative;
  justify-content: center;
  align-items: center;
}

.my-map-section:nth-last-child(2) {
  position: relative;
  margin-left: 0;
}

.my-map-upload-button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.my-map-upload-button:hover {
  background-color: #ffffff;
  color: black;
  border: #000000 1px solid;
}

.my-folder-container {
  border: #000000 1px solid;
  /* sidebar의 너비를 고려한 왼쪽 여백 */
  margin-bottom: 5%;
  padding: 20px;
}

.my-folder-wrap {
  width: 1000px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.my-folder-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 200px;
  height: 250px;
}

.my-folder-img {
  width: 120.03px;
  height: 120.03px;

  background-color: #dddddd;
}

.my-cursor_icon {
  position: relative;
  width: 10%;
  margin-top: 5%;
  margin-left: 45%;
}

.my-map-readytravel-wrap {
  border: #000000 1px solid;
}

.my-map-upload-text {
  font-family: "Inter";
  font-weight: 800;
  font-size: 13.5516px;
  line-height: 16px;
  align-items: center;
  text-align: center;

  color: #626262;
  margin: 5% 0 auto;
}

.my-map-upload-bold-text {
  font-family: "Inter";
  font-weight: 800;
  font-size: 27.1033px;
  line-height: 33px;
  align-items: center;
  text-align: center;

  color: #000000;
  margin: 5% 0 5% 0;
}
