/* 모달 스타일 */
.modal {
  display: none; /* 모달 숨김 */
  position: fixed; /* 고정 위치 */
  z-index: 0; /* 다른 요소보다 위에 표시 */
  left: 0;
  top: 0;
  overflow: auto; /* 스크롤 가능하도록 설정 */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% 5% 15% 25%;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #888;
  width: 70vw;
  height: 100vh;
}

.modal-text-head {
  float: left;
  margin: 20px 0;
  width: 100%;
  font-size: 24px;
  color: #323232;
  text-align: left;
  font-family: "NanumSquareNeo-Variable";
}

.modal-text-name {
  float: left;
  margin: 10px 0;
  width: 100%;
  font-size: 20px;
  color: #323232;
  text-align: left;
  font-family: "NanumSquareNeo-Variable";
}

.modal-text-content {
  float: left;
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
  color: #323232;
  text-align: left;
  font-family: "NanumSquareNeo-Variable";
}
