.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20pxrgb(255, 255, 255)
}

.logo img {
    height: 50px;
    /* 로고 이미지 크기 조정 */
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 2%;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-link:hover {
    color: #000;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}