.logo-section {
    margin-left: 250px;
    margin-right: 40px;
    align-items: center;
    align-content: center;
    text-align: left;
}



.logoimg {
    width: 10vw;
    height: 5vh;
}

.maincolor1 {
    width: 80px;
    height: 80px;
    background-color: #F8B46E;
    margin-right: 3vw;
}

.maincolor2 {
    width: 80px;
    height: 80px;
    background-color: #A9C498;
    margin-right: 3vw;
}

.color2div {
    align-items: center;
    display: flex;
}



.logo-section p {
    margin: 0;
    /* Remove default margin to align the text properly */
}