.container {
    display: flex;
}

.content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
}

.faq-table {
    width: 100%;
    border-collapse: collapse;
}

.faq-table th,
.faq-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.faq-table th {
    background-color: #a0c17b;
    color: white;
}

.faq-question {
    cursor: pointer;
    background-color: #f9f9f9;
}

.faq-question:hover {
    background-color: #f1f1f1;
}

.faq-answer {
    display: none;
    transition: all 0.5s ease;
}

.faq-answer.show {
    display: table-row;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.pagination .page-number {
    margin: 0 10px;
    font-weight: bold;
}

.howpagetext {
    font-size: larger;
    font-weight: bold;
    color: #728957;
    margin-bottom: 2%;
}