/* App 전체 스타일 */
.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 스크롤바 기본 스타일 */
::-webkit-scrollbar {
  width: 12px;
  /* 스크롤바의 너비 */
  height: 12px;
  /* 수평 스크롤바의 높이 */
}

/* 스크롤바 트랙 스타일 */
::-webkit-scrollbar-track {
  background: #a9c398;
  /* 트랙의 배경색 */
  border-radius: 10px;
  /* 둥글게 */
}

/* 스크롤바 핸들(스크롤바 자체) 스타일 */
::-webkit-scrollbar-thumb {
  background-color: #a9c398;
  /* 스크롤바 색상 */
  border-radius: 10px;
  /* 둥글게 */
  border: 3px solid #ffffff;
  /* 스크롤바의 경계색, 더 넓은 경계로 스크롤바가 더 둥글게 보이도록 */
}

/* Firefox 스크롤바 스타일 */
* {
  scrollbar-width: thin;
  /* 스크롤바의 두께 */
  scrollbar-color: #a9c398 #f0f0f0;
  /* 스크롤바 색상과 트랙 색상 */
}

/* Tooltip styles */
.tooltip-icon {
  position: relative;
}

.tooltip-text {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 14px;
  z-index: 10;
}

.tooltip-icon:hover .tooltip-text {
  display: block;
  opacity: 1;
}
